IO_LOC  "catodo[6]" 29;
IO_PORT "catodo[6]" IO_TYPE=LVCMOS33;

IO_LOC  "catodo[5]" 30;
IO_PORT "catodo[5]" IO_TYPE=LVCMOS33;

IO_LOC  "catodo[0]" 51;
IO_PORT "catodo[0]" IO_TYPE=LVCMOS33;

IO_LOC  "catodo[1]" 42;
IO_PORT "catodo[1]" IO_TYPE=LVCMOS33;

IO_LOC  "catodo[4]" 53;
IO_PORT "catodo[4]" IO_TYPE=LVCMOS33;

IO_LOC  "catodo[3]" 54;
IO_PORT "catodo[3]" IO_TYPE=LVCMOS33;

IO_LOC  "catodo[2]" 55;
IO_PORT "catodo[2]" IO_TYPE=LVCMOS33;

IO_LOC  "anodo[1]" 57;
IO_PORT "anodo[1]" IO_TYPE=LVCMOS33;

IO_LOC  "anodo[0]" 56;
IO_PORT "anodo[0]" IO_TYPE=LVCMOS33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18;

IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[4]" 15;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[5]" 16;
IO_PORT "led[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "port25" 25;
IO_STANDARD "port25" LVCMOS33;

IO_LOC  "port26" 26;
IO_STANDARD "port26" LVCMOS33;

IO_LOC  "port27" 27;
IO_STANDARD "port27" LVCMOS33;

IO_LOC  "port28" 28;
IO_STANDARD "port28" LVCMOS33;

IO_LOC  "port29" 29;
IO_STANDARD "port29" LVCMOS33;

IO_LOC  "port30" 30;
IO_STANDARD "port30" LVCMOS33;

IO_LOC  "port79" 79;

IO_LOC  "port80" 80;

IO_LOC  "port81" 81;

IO_LOC  "port82" 82;

IO_LOC  "port83" 83;

IO_LOC  "port84" 84;

IO_LOC  "port85" 85;
